@using Yurt.BL.ViewModels.OdemePlaniVM;
@{
    ViewData["Title"] = "Öğrenciler";
}

<h1>Ödeme Planı</h1>
<hr />

@model List<OdemePlaniListVM>


<div class="card col-md-8 style=" width:60%"">
    <table class="table table-hower">
        <theader>
            <tr>
                <th>Öğrenci Adı-Soyadı</th>
                <th>Veli Adı-Soyadı</th>
                <th>Oda No</th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OgrenciAdi @item.OgrenciSoyadi</td>
                    <td>@item.VeliAdi @item.VeliSoyadi</td>
                    <td>@item.OdaNo</td>

                    <td>
                        <a asp-action="CreateOdemePlani" asp-controller="OdemePlani" asp-area="Personel" asp-route-id="@item.OdemePlaniId" class="btn btn-info">OdemePlani</a>
                        <a asp-action="#" asp-controller="#" asp-area="Personel" asp-route-id="@item.OdemePlaniId" class="btn btn-danger">X</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>