@using Yurt.BL.ViewModels.VeliVM;
@{
    ViewData["Title"] = "Veliler";
}

<h1>VELİLER</h1>
<hr />

@model List<VeliListVM>


<div class="card">
    <table class="table table-hower">
        <theader>
            <tr>
                <th>Yakınlığı</th>
                <th>Veli Adı-Soyadı</th>
                <th>Öğrenci Adı-Soyadı</th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold">@item.VeliKim</td>
                    <td>@item.VeliAdi @item.VeliSoyadi</td>
                    <td>@item.OgrenciAdi @item.OgrenciSoyadi</td>
                </tr>
            }
        </tbody>
    </table>
</div>