@using Yurt.BL.ViewModels.VeliVM;
@{
    ViewData["Title"] = "Veliler";
}

<link href="~/custom/search.css" rel="stylesheet" />

@model List<VeliListVM>

<div class="container py-1 mt-4">
    <h1>Veli Bilgileri</h1>
    <hr />
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card rounded-0 border-3 shadow" style="width:70%">
                <div class="card-body p-3">
                    <div class="d-flex justify-content-end mt-2 mb-3">
                        <div class="form-group pull-right col-md-3 ">
                            <input type="text" class="search form-control" placeholder="Arama Yap..">
                        </div>
                    </div>
                    <table class="table table-hower results">
                        <thead class="table-dark">
                            <tr>
                                <th>Yakınlığı</th>
                                <th>Veli Adı-Soyadı</th>
                                <th>Öğrenci Adı-Soyadı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="fw-bold">@item.VeliKim</td>
                                    <td>@item.VeliAdi @item.VeliSoyadi</td>
                                    <td>@item.OgrenciAdi @item.OgrenciSoyadi</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/custom/js/search.js"></script>
 }